lexik_jwt_authentication:
    secret_key: '%env(resolve:JWT_SECRET_KEY)%'
    public_key: '%env(resolve:JWT_PUBLIC_KEY)%'
    pass_phrase: '%env(JWT_PASSPHRASE)%'
    user_id_claim: discordId

    blocklist_token:
        enabled: true
        cache: cache.app

    token_extractors:
        authorization_header:
            enabled: false

        # Used for the blocklist_token feature | extractor is used in the logout listener
        cookie:
            enabled: true
            name: jwt

    set_cookies:
        jwt:
            lifetime: 900
            samesite: lax
            path: /
            domain: '%env(JWT_COOKIE_DOMAIN)%'
            secure: true
            httpOnly: true
            partitioned: false
