services:
    php:
        container_name: youl_coin_php
        ports:
            - "8081:80"
        volumes:
            - ~/.composer/cache/files:/home/www/.composer/cache/files

    db:
        container_name: youl_coin_db

networks:
    traefik_traefik_proxy:
        external: false
    yc_api_internal:
        driver: bridge
