services:
    php:
        container_name: youl_coin_php
        volumes:
            - ~/.composer/cache/files:/root/.composer/cache/files

    db:
        container_name: youl_coin_db

networks:
    traefik_traefik_proxy:
        external: false
    yc_api_internal:
        driver: bridge
