default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\DemoContext
                - App\Tests\Behat\MessengerContext
                - App\Tests\Behat\EntityManagerContext
                - App\Tests\Behat\LoggerContext
                - App\Tests\Behat\NotifierContext
                - App\Tests\Behat\ApiContext
                - App\Tests\Behat\InMemoryContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                class: App\Kernel
