<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
    <arg name="parallel" value="75"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg value="p"/>
    <arg name="error-severity" value="1"/>
    <arg name="warning-severity" value="8"/>

    <rule ref="PSR12"/>

    <exclude-pattern>src/Migrations/*</exclude-pattern>
</ruleset>
